{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set color_code = '' %}
    {% if collector.hasError %}
        {% set color_code = 'red' %}
    {% endif %}

    {% set icon %}
        {{ include('@PbwebBuzz/Collector/icon.svg') }}
        <span class="sf-toolbar-value">{{ collector.requestCount }}</span>
        <span class="sf-toolbar-info-piece-additional-detail">
            <span class="sf-toolbar-label">in</span>
            <span class="sf-toolbar-value">{{ (collector.time * 1000)|number_format }}</span>
            <span class="sf-toolbar-label">ms</span>
        </span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Requests</b>
            <span class="sf-toolbar-status">{{ collector.requestCount }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Time</b>
            <span>{{ (collector.time * 1000)|number_format(2) }} ms</span>
        </div>
    {% endset %}

    {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { link: profiler_url, status: color_code } %}
{% endblock %}

{% block menu %}
    <span class="label{{ collector.requestCount == 0 ? ' disabled' }}{{ collector.hasError ? ' label-status-error' }}">
        <span class="icon">{{ include('@PbwebBuzz/Collector/icon.svg') }}</span>
        <strong>Buzz</strong>
        {% if collector.requestCount > 0 %}
            <span class="count">
                <span>{{ collector.requestCount }}</span>
            </span>
        {% endif %}
    </span>
{% endblock %}

{% block panel %}
    <h2>Buzz requests</h2>

    {% if collector.requestList|length > 0 %}
        <table class="alt">
            <thead>
                <tr>
                    <th class="nowrap">#</th>
                    <th class="nowrap">Time</th>
                    <th style="width: 100%">Info</th>
                </tr>
            </thead>
            <tbody>
            {% for request in collector.requestList %}
                {% set status_code_color = request.response and (request.response.statusCode >= 200 and request.response.statusCode < 300) ? '#7a2' : '#a33' %}
                <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                    <td class="nowrap">{{ loop.index }}</td>
                    <td class="nowrap">{{ (request.executionTime * 1000)|number_format(2) }}&nbsp;ms</td>
                    <td>
                        <div>
                            <span>
                                <strong>{{ request.request.method }}</strong>
                                <strong style="background-color: {{ status_code_color }}; color: white; padding: 1px 5px;">{% if request.response %}{{ request.response.statusCode }}{% else %}ERROR{% endif %}</strong>
                                <code>{{ request.request.uri }}</code>
                            </span>
                        </div>
                        <div class="text-small font-normal">
                            <a href="#" class="sf-toggle link-inverse" data-toggle-selector="#code-{{ loop.index }}" data-toggle-alt-content="Hide headers and response data">View headers and response data</a>
                        </div>
                        <div id="code-{{ loop.index }}" class="hidden sf-toggle-content sf-toggle-hidden">
                            {% include '@PbwebBuzz/Collector/header_table.html.twig' with {title: 'Request headers', headerList: request.request.headers} %}

                            {% if request.request_body|length > 0 %}
                                <pre style="color: black; background-color: white; white-space: pre-wrap;">{{ request.request_body }}</pre>
                            {% endif %}

                            {% if request.response %}
                                {% include '@PbwebBuzz/Collector/header_table.html.twig' with {title: 'Reponse headers', headerList: request.response.headers} %}

                                <pre style="color: black; background-color: white; white-space: pre-wrap;">{{ request.response_body }}</pre>
                            {% else %}
                                <pre style="color: black; background-color: white; white-space: pre-wrap;">{{ request.exception }}</pre>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p><em>No requests.</em></p>
    {% endif %}
{% endblock %}
